<div class="todo-item" [class.completed]="todo().completed">
    <input
        type="checkbox"
        class="todo-checkbox"
        [checked]="todo().completed"
        (change)="onToggle()">
    
    <div class="todo-content">
        <span class="todo-title">{{ todo().title }}</span>

        @if (todo().description) {
            <span class="todo-description" [class.todo-description-expanded]="expanded()">
                {{ todo().description }}
            </span>

            <span class="expand-hint" (click)="toggleExpanded()">
                {{ expanded() ? '˄' : '˅' }}
            </span>
        }
    </div>

    <div class="todo-actions">
        <button class="btn-edit" (click)="onEdit()">Edit</button>
        <button class="btn-delete" (click)="onDelete()">Delete</button>
    </div>
</div>